<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <!-- start header section -->
    <div class="header">
        <div class="header-content">
            <div class="navbar">
                <div class="logo">
                    Tantus<span>Studio</span>
                </div>
                <div class="menu">
                    menu<i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="text">
                <h1>we design <span>things</span></h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                </p>
                <div class="header-button">
                    <button>Hire Us</button>
                    <button>Our Works</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end header section -->

    <!-- start services section  -->

    <div class="servies">
        <div class="servies-item">
            <div class="icon"><span><i class="far fa-id-card"></i></span></div>
            <h3>print design</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
            </p>
        </div>
        <div class="servies-item">
            <div class="icon"><span><i class="fas fa-mobile-alt"></i></span></div>
            <h3>print design</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
            </p>
        </div>
        <div class="servies-item">
            <div class="icon"><span><i class="far fa-file-archive"></i></span></div>
            <h3>print design</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
            </p>
        </div>
        <div class="servies-item">
            <div class="icon"><span><i class="fas fa-brush"></i></span></div>
            <h3>print design</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
            </p>
        </div>
    </div>
    <!-- end services section  -->

    <!-- start our works section -->
    <div class="our-works">
        <div class="our">
            <h2>our <span>works</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
        </div>
        <div class="gallary">
            <img src="../img/pexels-photo-590037.jpeg" alt="">
            <img src="../img/mobile-phone-iphone-music-38295.jpeg" alt="">
            <img src="../img/pexels-photo-1483937.jpeg" alt="">
            <img src="../img/pexels-photo-401683.jpeg" alt="">
            <img src="../img/pexels-photo-1516704.jpeg" alt="">
            <img src="../img/pexels-photo-1571699.jpeg" alt="">
        </div>
    </div>
    <!-- end our works section -->
    <div class="our-team">
        <div class="our">
            <h2>our <span>team</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
        </div>
        <div class="team-member">
            <div class="person">
                <div class="person-image"><img src="../img/team-member-4.png" alt=""></div>
                <div class="person-contact">
                    <h2>kevin ward</h2>
                    <div class="socila-media-icon">
                        <span><i class="fab fa-facebook-f"></i> </span>
                        <span><i class="fab fa-twitter"></i> </span>
                        <span><i class="fab fa-youtube"></i> </span>
                        <span><i class="fab fa-google"></i> </span>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
            <div class="person">
                <div class="person-image"><img src="../img/team-member-1.png" alt=""></div>
                <div class="person-contact">
                    <h2>laila alison</h2>
                    <div class="socila-media-icon">
                        <span><i class="fab fa-facebook-f"></i> </span>
                        <span><i class="fab fa-twitter"></i> </span>
                        <span><i class="fab fa-youtube"></i> </span>
                        <span><i class="fab fa-google"></i> </span>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
            <div class="person">
                <div class="person-image"><img src="../img/team-member-2.png" alt=""></div>
                <div class="person-contact">
                    <h2>Geaorge keita</h2>
                    <div class="socila-media-icon">
                        <span><i class="fab fa-facebook-f"></i> </span>
                        <span><i class="fab fa-twitter"></i> </span>
                        <span><i class="fab fa-youtube"></i> </span>
                        <span><i class="fab fa-google"></i> </span>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
            <div class="person">
                <div class="person-image"><img src="../img/team-member-3.png" alt=""></div>
                <div class="person-contact">
                    <h2>nicola smithe</h2>
                    <div class="socila-media-icon">
                        <span><i class="fab fa-facebook-f"></i> </span>
                        <span><i class="fab fa-twitter"></i> </span>
                        <span><i class="fab fa-youtube"></i> </span>
                        <span><i class="fab fa-google"></i> </span>
                    </div>

                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>