@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url('img/slide-1.jpg');
    background-size: 100%;
    width: 100%;
    height: 70vh;
}

.header-contect {
    width: 100%;
    height: 100%;
    background: #000000b3;
    position: relative;
}

.navbar {
    display: flex;
}

.navbar div {
    text-align: center;
    width: 50%;
    color: aliceblue;
    font-size: 2em;
    padding: 10px 0;
}

.logo span {
    color: orangered;
}

.menu i {
    margin-left: 5px;
    transition: .4s;
}

.menu i:hover {
    color: orangered;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text p {
    line-height: 1.6;
}

.text h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 45px;
    line-height: 1.6;
}

.text h1 span {
    color: orangered;
}

.header-button {
    display: flex;
    text-align: center;
    width: 320px;
    padding-top: 10px;
    margin: auto;
}

.header-button button {
    margin: 0 10px;
    color: #FFF;
    border: 1px solid;
    font-size: 20px;
    background: transparent;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    transition: .6s;
}

.header-button button:hover {
    background: orangered;
    border-color: orangered;
}

.services {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

.services-item {
    width: 25%;
    padding: 7px 15px;
    padding-top: 25px;
    text-align: center;
    overflow: hidden;
    border-radius: 6px;
    transition: .4s;
}

.icon {
    padding: 5px 10px;
}

.icon span {
    border-radius: 50%;
    border: 2px solid #ecf0f1;
    padding: 25px 35px;
    font-size: 40px;
    color: rgb(255, 102, 0);
}

.icon-text {
    margin-top: 30px;
    line-height: 1.6;
}

.icon-text h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.services-item:hover {
    box-shadow: 1px 1px 4px #ccc, -1px -1px 4px #ccc;
    transform: scale(1.025);
}

.our {
    width: 50%;
    text-align: center;
    margin: 100px auto 20px;
}

.our h2 span {
    color: orangered;
}

.our h2 {
    line-height: 1.6;
    text-transform: uppercase;
    font-size: 35px;
}

.our p {
    line-height: 1.6;
}

.gallary {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
}

.gallary img {
    width: 33.3333%;
}

.team-member {
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
}

.person {
    width: 25%;
    padding: 0 20px;
}

.person-image {
    width: 90%;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
    height: 240px;
    box-shadow: 0px 15px 13px 2px #ccc;
}

.person-image img {
    width: 100%;
    height: 100%;
}

.person-contact {
    padding: 20px 0;
}

.person-contact h2 {
    font-size: 35px;
}

.person-contact .socila-media-icon {
    width: 100%;
    padding: 20px 0;
}

.person-contact .socila-media-icon span {
    margin: 0 5px;
    border-radius: 50%;
    padding: 6px 10px;
    background-color: rgb(170, 170, 170);
    transition: .4s;
}

.person-contact .socila-media-icon span i {
    font-size: 16px;
}

.person-contact .socila-media-icon span:hover {
    background-color: orangered;
    color: #FFF;
}

.person-contact p {
    line-height: 1.4;
}

.footer {
    background-image: url('img/contact-bg.jpg');
    color: white;
}

.footer-opacity {
    background-color: #000000b3;
    padding: 10px 0;
}

.footer-opacity .our {
    margin-top: 10px;
}

.form {
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

.top-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.form-input input {
    background: transparent;
    border-color: white;
    border-radius: 4px;
    padding: 5px 15px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 23px;
}

.form-width {
    width: 47%;
}

.textarea-input {
    width: 100%;
    height: 400px;
}

.textarea-input textarea {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    outline: none;
    font-size: 23px;
    border-color: white;
}

.form-submit {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.form-button button {
    width: 140px;
    height: 40px;
    background-color: orangered;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 8px;
}

.form-icons {
    text-align: right;
}

.form-icons span {
    padding: 6px 10px;
    font-size: 18px;
    margin: 0 10px;
    color: #fff;
    border-radius: 50%;
}

.form-icons span.facebook {
    background-color: royalblue;
}

.form-icons span.twitter {
    background-color: skyblue;
}

.form-icons span.youtube {
    background-color: red;
}

.form-icons span.google {
    background-color: tomato;
}