@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url('img/slide-1.jpg');
    background-size: 100%;
    width: 100%;
    height: 70vh;
}

.header-content {
    background-color: #000000ad;
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    display: flex;
}

.navbar div {
    text-align: center;
    width: 50%;
    color: white;
    font-size: 2em;
}

.menu i {
    color: white;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.text h1 {
    font-size: 40px;
    text-align: center;
}

.text span {
    color: orangered;
}

.header-button {
    text-align: center;
}